<h1>Add</h1>

<form action="/add" method="POST">
    <div class="input-field">
        <input id="title" name="title" type="text" class="validate" required>
        <label for="title">Course name</label>
        <span class="helper-text" data-error="wrong name" ></span>
    </div>
    <div class="input-field">
        <input id="price" name="price" type="text" class="validate" required min="1">
        <label for="price">Price</label>
        <span class="helper-text" data-error="wrong price" ></span>
    </div>
    <div class="input-field">
        <input id="img" name="img" type="text" class="validate" required>
        <label for="img">URL img</label>
        <span class="helper-text" data-error="wrong url" ></span>
    </div>
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <button class="btn btn-primary">submit</button>
</form>